jenkins-code-exp/src/main/mule/jenkins-code-exp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a3ae6df8-2bde-4ffc-9a3c-385a8da976fa" basePath="/jenkins" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="jenkins-code-expFlow" doc:id="00fd9beb-3785-497b-8944-b82900928d84" >
		<http:listener doc:name="Listener" doc:id="ff356fec-88d0-49b0-966e-e1c842363f44" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="33c7c8e3-6192-4e10-a5d2-009245ee820e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "working"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3f760171-f962-44d3-bd29-cc73897837b6" message="#[payload]"/>
	</flow>
</mule>
